<p id="notice"><%= notice %></p>

<p>
  <b>Group name:</b>
  <%= @contract_group.group_name %>
</p>
<%= $list %>
<%= link_to 'Edit', edit_contract_group_path(@contract_group) %> |
<%= link_to 'Back', contract_groups_path %>
